@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Raleway:wght@200;300;400;500&family=Rubik:wght@300;400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./img/background-travel.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1.5px);
}

.container {
  background-color: rgba(32, 26, 48, 0.98);
  color: azure;
  width: 45vh;
  height: 90vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.container h1 {
  font-size: 25px;
}

.container a {
  color: rgb(13, 245, 227);
  text-decoration: none;
  font-size: 15px;
}

.container .forgot-account a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.img-container{
  display: flex;
  justify-content: center;
  margin: 10%;
  margin-top: 0px;
}

.main-content img {
  width: 150px;
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;

}
.main-content p {
  margin-top: 10px;
  font-size: 13px;
}

.login {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.login input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 20px;
  color: azure;
  font-size: 15px;
  font-weight: 500;
}

.login input:focus {
  background-color: rgb(56, 48, 76);
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  border-radius: 20px;
}

.login label {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 8px;
}

.login .username,
.login .password {
  position: relative;
}

.login-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-btn .btn {
  width: 80%;
  padding: 15px;
  cursor: pointer;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bolder;
  background-color: rgb(13, 245, 227);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.make-account {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 13px;
  text-align: center;
}

.make-account a {
  font-weight: 600;
  font-size: 16px;
}
